<div>
    TODO: Add Header
</div>
<div>
    <prtf-terminal></prtf-terminal>
</div>
<prtf-footer></prtf-footer>

<div mnFullpage>
    <div class="section welcome-section fp-section fp-table">
        <div class="fp-tableCell">
            1
        </div>
    </div>
    <div class="section welcome-section fp-section fp-table">
        <div class="fp-tableCell">
            2
        </div>
    </div>
    <div class="section welcome-section fp-section fp-table">
        <div class="fp-tableCell">
            3
        </div>
    </div>
</div>
