:host {

    .tak__terminal {
        width: 60%;
        margin: -11rem auto 3rem auto;
        text-align: left;
        color: white;
        padding: 0 1rem;
        border-radius: 4px;
        background-color: #232323;
        min-height: 285px;
        animation: fadeUp 2s;
        box-shadow: 0px 12px 36.8px 9.2px rgba(0, 0, 0, 0.1);

        pre {
            white-space: pre-line;
            padding-top: 1rem;
        }

        .shell-session {
            display: block;
            overflow-x: auto;
            padding: 0.5em;
            background: #232323;
            color: #e6e1dc;

            .name {
                color: #cda869;
            }
            .dash {
                color: #a5c261;
            }
        }
    }

    @keyframes fadeUp {
        0% {
            opacity: 0;
            transform: translate3d(0, 30px, 0);
        }
        100% {
            transform: translate3d(0, 0, 0);
        }
    }
}

::ng-deep {

    .highlight {
        color: var(--accent-color);
    }

    a {
        color: inherit;
    }
}
