:host {

    display: flex;
    justify-content: center;

    .tak__terminal {
        width: 50%;
        min-width: 320px;
        text-align: left;
        color: white;
        padding: 0 1rem;
        border-radius: 4px;
        background-color: #232323;
        min-height: 285px;
        animation: fadeUp 2s;
        box-shadow: 0px 12px 36.8px 9.2px rgba(0, 0, 0, 0.1);

        pre {
            white-space: pre-line;
        }

        .shell-session {
            display: block;
            padding: 0.5em;
            background: #232323;
            color: #e6e1dc;

            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 15;
            -webkit-box-orient: vertical;
            word-wrap: break-word;

            .name {
                color: #cda869;
            }

            .dash {
                color: #a5c261;
            }
        }
    }

    @keyframes fadeUp {

        0% {
            opacity: 0;
            transform: translate3d(0, 30px, 0);
        }

        100% {
            transform: translate3d(0, 0, 0);
        }
    }
}

::ng-deep {

    .highlight {
        color: var(--accent-color);
    }

}
