:host {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 5rem;

    .tak__terminal {
        width: 50%;
        min-width: 320px;
        text-align: left;
        color: white;
        padding: 0 1rem;
        border-radius: 4px;
        background-color: #232323;
        min-height: 320px;
        -webkit-animation: fadeUp 2s;
        animation: fadeUp 2s;
        -webkit-box-shadow: 0 12px 36.8px 9.2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 12px 36.8px 9.2px rgba(0, 0, 0, 0.1);

        pre {
            white-space: pre-line;
        }

        .shell-session {
            display: block;
            padding: 0.5em;
            background: #232323;
            color: #e6e1dc;

            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            -webkit-line-clamp: 15;
            -webkit-box-orient: vertical;
            word-wrap: break-word;

            .blink {
                vertical-align: baseline;
                background-color: #e6e1dc;
                line-height: normal;
            }

            .blink-animation {
                -webkit-animation: blink 1s step-end infinite;
                animation: blink 1s step-end infinite;
            }

            @-webkit-keyframes blink {
                0% { opacity: 1.0; }
                50% { opacity: 0.0; }
                100% { opacity: 1.0; }
            }

            @keyframes blink {
                0% { opacity: 1.0; }
                50% { opacity: 0.0; }
                100% { opacity: 1.0; }
            }
        }
    }

    @-webkit-keyframes fadeUp {

        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
        }

        100% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes fadeUp {

        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
        }

        100% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
}

::ng-deep {

    .highlight {
        color: var(--accent-color);
    }

    .name {
        color: #cda869;
    }

    .dash {
        color: #a5c261;
    }
}
