:host {

    .tak {
        text-align: center;
        background-color: var(--bg-color);
        padding: 2rem 0 10rem 0;
    }

    .tak__title {
        font-weight: 900;
        color: var(--primary-color);
    }

    .tak__description {
        margin: -1rem auto 2rem auto;
    }

}
